*{
    background-color: black;
}
#First{
    border :5px solid white;
    
    margin: 5px;
    height: 500px;
    width: 800px;
}
h1{
    
  color:white;
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  text-transform: uppercase;

}
p{
color: white;
}
body{
    padding: 50px;
}